[submodule "Elhaykal-service"]
	path = Elhaykal-service
	url = git@github.com:Distributed-Fall-25/Elhaykal-service.git
[submodule "Elhaykal-client"]
	path = Elhaykal-client
	url = git@github.com:Distributed-Fall-25/Elhaykal-client.git
[submodule "Elhaykal-client"]
	path = Elhaykal-frontend
	url = git@github.com:Distributed-Fall-25/Elhaykal-frontend.git
